body {
    background-color: black;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 70px;
    color: black;
    text-shadow: 2px 2px 4px rgb(6, 29, 130);
    text-align: center;
    background-color: white;
  }

  h2 {
    color: white;
  }

  img {
    align-items: center;
  }